{% extends 'base.html' %}

{% block title %}Crear Producto{% endblock %}

{% block content %}
<div class="bg-white shadow-md rounded my-6 p-6">
    <h1 class="text-2xl font-bold mb-6">Agregar Nuevo Producto</h1>
    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-4">
            <label for="nombre" class="block text-gray-700">Nombre:</label>
            {{ form.nombre }}  <!-- Este campo se precargará -->
        </div>

        <div class="mb-4">
            <label for="descripcion" class="block text-gray-700">Descripción:</label>
            {{ form.descripcion }}  <!-- Este campo se precargará -->
        </div>

        <div class="mb-4">
            <label for="precio" class="block text-gray-700">Precio:</label>
            {{ form.precio }}  <!-- Este campo se precargará -->
        </div>

        <div class="mb-4">
            <label for="stock_actual" class="block text-gray-700">Stock Actual:</label>
            {{ form.stock_actual }}  <!-- Este campo se precargará -->
        </div>

        <div class="mb-4">
            <label for="ubicacion" class="block text-gray-700">Ubicación en Almacén:</label>
            {{ form.ubicacion }}  <!-- Este campo se precargará -->
        </div>

        <div class="mb-4">
            <label for="categoria" class="block text-gray-700">Categoría:</label>
            {{ form.categoria }}  <!-- Este campo se precargará -->
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
        <a href="{% url 'lista_productos' %}" class="bg-gray-500 text-white px-4 py-2 rounded ml-4">Cancelar</a>
    </form>
</div>
{% endblock %}
